1 VERSIONINFO
FILEVERSION 0,0,1,8
PRODUCTVERSION 0,0,1,8
FILEOS 0x40004
FILETYPE 0x1
{
BLOCK "StringFileInfo"
{
	BLOCK "000004B0"
	{
		VALUE "CompanyName", "Shao Miller"
		VALUE "FileDescription", "WinVBlock Virtual/SAN Disk Utility"
		VALUE "FileVersion", "0.0.1.8 (June-6-2010)"
		VALUE "InternalName", "WinVBlock Virtual/SAN Disk Utility"
		VALUE "LegalCopyright", "© 2008 V., © 2009-2010 Shao Miller, All rights reserved, Licensed under GPL."
		VALUE "OriginalFilename", "winvblk.exe"
		VALUE "ProductName", "WinVBlock Virtual SCSI Driver"
		VALUE "ProductVersion", "0.0.1.8"
	}
}

BLOCK "VarFileInfo"
{
	VALUE "Translation", 0x0000 0x04B0
}
}

1 ICON "wv.ico"