1 VERSIONINFO
FILEVERSION 0,0,1,8
PRODUCTVERSION 0,0,1,8
FILEOS 0x40004
FILETYPE 0x3
{
BLOCK "StringFileInfo"
{
	BLOCK "000004B0"
	{
		VALUE "CompanyName", "Shao Miller"
		VALUE "FileDescription", "WinVBlock AoE SAN Disk Driver"
		VALUE "FileVersion", "0.0.1.8 (June-1-2010)"
		VALUE "InternalName", "WinVBlock AoE SAN Disk Driver"
		VALUE "LegalCopyright", "© 2008 V., © 2009-2010 Shao Miller, All rights reserved, Licensed under GPL."
		VALUE "OriginalFilename", "aoe.sys"
		VALUE "ProductName", "WinVBlock AoE SAN Disk Driver"
		VALUE "ProductVersion", "0.0.1.8"
	}
}

BLOCK "VarFileInfo"
{
	VALUE "Translation", 0x0000 0x04B0
}
}
